<!DOCTYPE html>
<html lang="en">

        <%- include('./partials/head.ejs')  %>

<body>

        <%- include('./partials/nav.ejs')  %>

    <div class="about content">
    <p style="font-size: 150px; text-align: center; font-style:normal; font-family: Georgia, 'Times New Roman', Times, serif;">404 error</p>
    <p style="text-align: center; font-size: larger;">OOPS!</p>
    <p style="text-align: center;">Something went wrong!</p>
    </div>

    <%- include('./partials/footer.ejs')  %>

</body>
</html>