<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head.ejs')  %>

<body>

        <%- include('./partials/nav.ejs')  %>

    <div class="blogs content">
    <p style="font-size: 150px; text-align: center; font-style:normal; font-family: Georgia, 'Times New Roman', Times, serif;">Hello!</p>
    <p style="text-align: center;">This is an about page</p>
    </div>

    <%- include('./partials/footer.ejs')  %>

</body>
</html>